.div-principal {
  position:absolute;
  top:0;
  left:0;
  background-color:#f0f2f5;
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteudo {
  display: block;
  max-width: 420px;
  margin: auto;
  padding: 0 10px;
  color: #6b6b6b; text-align: center;
}

h1 {
  margin: 0;
  color: #d6d6d6;
  font-size: 5.71em;
  font-weight: 400;
}

.texto {
  display: block;
  padding: 18px 0;
}

.texto p {
  font-size: 0.9em;
}
